name: CICD pipeline
on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    test:
        runs-on: ubuntu-latest
        
        services:
            mysql:
                image: mysql:8.0                
                env:
                    MYSQL_ROOT_PASSWORD: root
                    MYSQL_DATABASE: test_db
                ports:
                    - 3306:3306
                options: --health-cmd="mysqladmin ping --silent"

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: '8.4'
                extensions: mbstring, mysqli, pdo, pdo_mysql, xml, curl, json, bcmath, ctype, fileinfo, tokenizer, openssl, gd

            - name: Cache Composer Dependencies
              uses: php-actions/cache@v4
              with:
                path: vendor
                key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                restore-keys: ${{ runner.os }}-composer-

            - name: Copy .env file
              run: |
                cp .env.ci .env

            - name: Install Composer Dependencies
              run: |
                composer install -q --no-ansi \
                --no-interaction --no-scripts --no-progress --prefer-dist --optimize-autoloader

            - name: Generate Application Key
              run: |
                php artisan key:generate --force

            - name: Directory Permissions
              run: |
                sudo chown -R $USER storage bootstrap/cache
                sudo chmod -R 775 storage bootstrap/cache
                
